*body{
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif, 'Montserrat Alternates';
    background-color: rgb(240, 240, 240);
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;

}

.navbar{
    width: 100%;
    margin: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: baseline;
    bottom: -10px;
    border-bottom: 1px solid #ebebeb;
} 

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    position: relative;
    display: table;
    margin: 0 auto;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    bottom: -6px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #0088cc;
    font-weight: 100%;
    font-size: 14px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.navbar ul li::after{
    content: '';
    border-radius: 100px;
    height: 2px;
    width: 0%;
    background: #0088cc;
    position: absolute;
    display: grid;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar ul .active a{
    position: relative;
    border-bottom: 2px solid #0088cc;
    padding-bottom: 0px;
}

.headingp{
    display: flex;
    padding-top: 100px;
}

.headingp .logo1{
    width: 30%;
    height: auto;
    margin: auto;
    padding-bottom: -20px;
    
}

.texts h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: 2px solid rgb(0, 0, 0);
}

.texts p{
    padding-top: 100px;
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-right: 170px;
}

.buttons{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    margin-right: 30px;
    border: none;
    font-size: 15px;
    outline: none;
    color: #ffff;
    margin-top: 70px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    color: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.container{
    max-width: 70%;
    margin: 0 auto;
    height: 100%;
}

.container h2{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: 1px solid #000;
    font-family: 'Montserrat Alternates', sans-serif;
} 

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin: 5% 0;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin: 5% 0;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin: 5% 0;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    margin: 5% 0;
}

.card {
    overflow: hidden;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px #cacaca;
}


.card_img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card_body {
    padding: 26px 20px 36px 20px;
}

.card_title{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900px;
    font-size: 16px;
    text-transform: none;
    padding-top: -10px;
}

.card_body p{
    font-weight: 4010px;
    font-size: 12px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #0088cc;
    line-height: 1.7;
    cursor: pointer;
}


.card_body p:hover{
    text-decoration: underline;
    text-decoration-color: #0088cc;
}

a.read_more{
    background-color: #000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1.1px;
    padding: 24px 0;
    width: 70%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    border-radius: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all 0.8s ease-in-out;
    margin-bottom: -20px;
}

a.read_more:hover{
    content: '';
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
    z-index: -1;
}

.footer{
    margin-top: 100px;
    border-top: 1px solid rgb(235, 235, 235);
    padding: 40px 0;
    background-color: #fff;
}

.footer .social{
    margin-top: 0px;
    text-align: center;
    padding-bottom: 25px;
    color: #0088cc;
}

.footer .social a{
    font-size: 24px;
    text-decoration: none;
    color: #0088cc;
    border: 2px solid #0088cc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    transition: all 0.3s ease-in-out;
}

.footer .social a:hover{
    opacity: 1;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    margin: 0 8px;
    color: #000000;
    border: 2px solid #000000;
    margin-top: -13px;
    margin-bottom: -10px;
}

.footer ul{
    margin-top: 0%;
    padding: 0%;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 0;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a{
    font-size: 16px;
    width: 200px;
    height: 50px;
    color: #000000;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}


.footer ul li a:hover{
    color: #0088cc;
    font-size: 20px;
    text-decoration: none;
    opacity: 1;
}


.footer .lstqat{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: -10px;
}
